.btn_default_bordered{
  background-color: $c_white;
  border: 2px solid $c_green;
  margin: 0;
  color: $c_green;
  border-radius: 30px;
  font-weight: 700;
  padding: .5em 1.15em;
  outline: none;
  transition: background-color linear .2s, color linear .2s;

  &:hover, &:focus{
    color: $c_white;
    background-color: $c_green;
  }
}
.btn_default_inline{
  padding: 0;
  border: 0;
  background: transparent;
  border-bottom: 1px dotted #333;
  border-radius: 0;
  outline: none;
  color:#333;
}