h2, .h2{
  font-size:30px;
  line-height: 38px;
  color: $f_black_light;
  font-weight:400;
}

h1, .h1{
  font-size:34px;
  line-height: 38px;
  color: $f_black_light;
  font-weight:bold;
}

h4, .h4{
  font-size:24px;
  line-height: 28px;
  color: $f_black_light;
  font-weight:bold;
}

@media (min-width: 576px) {
  h1, .h1 {
    font-size: 48px;
    line-height: 56px;
  }
  h2, .h2 {
    font-size: 40px;
    line-height: 48px;
  }
}

.g-dashed-title{
  color: $f_black_light;
  font-weight: bold;
  position: relative;
  margin-bottom: 32px;

  &::before{
    content: "";
    position: absolute;
    bottom: -4px;
    display: block;
    height: 2px;
    left: 0;
    background-color: #ffd311;
    width: 24px;
  }
  &::after{
    content: "";
    position: absolute;
    bottom: -4px;
    display: block;
    height: 2px;
    background-color: #e0e0e0;
    left: 26px;
    width: 36px;
  }
}

ul{
  list-style-position: inside;
  padding: 0;
}
li{
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0px;
  color: #616161;

  p {
    display: inline;
  }
}

.g_orange{
  color:$f_yellow !important;
}