.b-footer {
  padding: 50px 0;
  font-size: 12px;
  color: #fff;
  background: #1a7578
}

.b-footer .h3,
.b-footer .h4,
.b-footer .h5,
.b-footer .h6 {
  color: #fff
}

.b-footer .nav li a {
  padding: 5px 0;
  color: #fff
}

.b-footer ul {
  padding: 0
}

.b-footer ul li {
  list-style: none
}

.b-footer ul li a {
  color: #fff;
  line-height: 20px;
  text-decoration: underline
}

.b-footer ul li a:hover {
  text-decoration: none
}

.b-footer .phone a {
  font-size: 16px;
  color: #959597
}

.footer-logo {
  font-size: 30px
}

.footer-line {
  padding: 15px 0 0;
  color: #fff
}

.footer-line a {
  color: #fff
}

.footer-line .buyicon {
  background-image: url(/custom/my/img/buyicon.png);
  display: inline-block;
  height: 22px;
  width: 279px
}
